# Assignment 2: Statistical Treatment for Retail Datasets

#### import library

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
import math
import statistics
import scipy.stats
%matplotlib inline
from IPython.display import Math, Latex
from IPython.core.display import Image
from scipy.stats import uniform

In [3]:
sns.set(color_codes=True)
sns.set(rc={'figure.figsize':(5,5)})

#### import and checking dataset

In [4]:
file = 'nyc-rolling-sales.csv'
df_data = pd.read_csv(file, na_values={'n/a', 'na', '-'})

In [5]:
df_data.head(5)

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [6]:
# checking columns of the data
df_data.columns.values

array(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER',
       'ZIP CODE', 'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'], dtype=object)

In [7]:
# checking data shape
df_data.shape

(84548, 22)

In [8]:
# checking the data
df_data.describe()

,Unnamed: 0,BOROUGH,BLOCK,LOT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,YEAR BUILT,TAX CLASS AT TIME OF SALE
count,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000,84548.000000
mean,10344.359878,2.998758,4237.218976,376.224015,10731.991614,2.025264,0.193559,2.249184,1789.322976,1.657485
std,7151.779436,1.289790,3568.263407,658.136814,1290.879147,16.721037,8.713183,18.972584,537.344993,0.819341
min,4.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4231.000000,2.000000,1322.750000,22.000000,10305.000000,0.000000,0.000000,1.000000,1920.000000,1.000000
50%,8942.000000,3.000000,3311.000000,50.000000,11209.000000,1.000000,0.000000,1.000000,1940.000000,2.000000
75%,15987.250000,4.000000,6281.000000,1001.000000,11357.000000,2.000000,0.000000,2.000000,1965.000000,2.000000
max,26739.000000,5.000000,16322.000000,9106.000000,11694.000000,1844.000000,2261.000000,2261.000000,2017.000000,4.000000

In [9]:
# checking null data
df_data.isnull().sum()

Unnamed: 0                        0
BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING CLASS CATEGORY           0
TAX CLASS AT PRESENT              0
BLOCK                             0
LOT                               0
EASE-MENT                         0
BUILDING CLASS AT PRESENT         0
ADDRESS                           0
APARTMENT NUMBER                  0
ZIP CODE                          0
RESIDENTIAL UNITS                 0
COMMERCIAL UNITS                  0
TOTAL UNITS                       0
LAND SQUARE FEET                  0
GROSS SQUARE FEET                 0
YEAR BUILT                        0
TAX CLASS AT TIME OF SALE         0
BUILDING CLASS AT TIME OF SALE    0
SALE PRICE                        0
SALE DATE                         0
dtype: int64

In [10]:
# Finding out total units in every NEIGHBORHOOD
df1 = pd.DataFrame({'Unit Total' : df_data.groupby(['NEIGHBORHOOD'])['TOTAL UNITS'].sum()}).reset_index()
print(df1.to_string())

                  NEIGHBORHOOD  Unit Total
0           AIRPORT LA GUARDIA          15
1                ALPHABET CITY         567
2                     ANNADALE         229
3                ARDEN HEIGHTS         313
4                     ARROCHAR          65
5         ARROCHAR-SHORE ACRES          35
6                      ARVERNE         329
7                      ASTORIA        3830
8                   BATH BEACH         537
9                     BATHGATE         205
10                   BAY RIDGE        1339
11                  BAYCHESTER         715
12                     BAYSIDE        1527
13        BEDFORD PARK/NORWOOD         991
14          BEDFORD STUYVESANT        3988
15                  BEECHHURST          91
16                BELLE HARBOR         138
17                   BELLEROSE         301
18                     BELMONT         663
19                 BENSONHURST        1447
20                BERGEN BEACH         297
21                  BLOOMFIELD           4
22                 BOERUM HILL         559
23                BOROUGH PARK        2889
24                   BRIARWOOD         159
25              BRIGHTON BEACH         629
26               BROAD CHANNEL          45
27                  BRONX PARK           2
28                   BRONXDALE        3517
29            BROOKLYN HEIGHTS         494
30                 BROWNSVILLE         609
31                  BULLS HEAD         517
32               BUSH TERMINAL         197
33                    BUSHWICK        2258
34             CAMBRIA HEIGHTS         223
35                    CANARSIE        1382
36             CARROLL GARDENS         436
37       CASTLE HILL/UNIONPORT         687
38           CASTLETON CORNERS         175
39                     CHELSEA        1641
40                   CHINATOWN         297
41                 CITY ISLAND          94
42    CITY ISLAND-PELHAM STRIP           1
43                CIVIC CENTER         448
44                     CLINTON         497
45                CLINTON HILL        1196
46                 CLOVE LAKES         246
47                  CO-OP CITY           5
48                 COBBLE HILL         205
49            COBBLE HILL-WEST         154
50               COLLEGE POINT         687
51                     CONCORD         126
52           CONCORD-FOX HILLS          28
53                CONEY ISLAND         346
54                      CORONA        1330
55                COUNTRY CLUB         231
56                CROTONA PARK         268
57               CROWN HEIGHTS        3608
58               CYPRESS HILLS         899
59                DONGAN HILLS         136
60         DONGAN HILLS-COLONY          79
61       DONGAN HILLS-OLD TOWN           6
62                  DOUGLASTON         368
63       DOWNTOWN-FULTON FERRY         392
64        DOWNTOWN-FULTON MALL         590
65          DOWNTOWN-METROTECH         158
66               DYKER HEIGHTS         659
67               EAST ELMHURST        1666
68               EAST NEW YORK        2328
69                  EAST RIVER           1
70                EAST TREMONT         508
71                EAST VILLAGE         708
72                    ELMHURST        2168
73                 ELTINGVILLE         435
74                EMERSON HILL          22
75                FAR ROCKAWAY         580
76                     FASHION        1855
77                   FIELDSTON          67
78                   FINANCIAL        1709
79            FLATBUSH-CENTRAL        1744
80               FLATBUSH-EAST        1509
81    FLATBUSH-LEFFERTS GARDEN         778
82              FLATBUSH-NORTH        1036
83                    FLATIRON         595
84                   FLATLANDS         422
85                 FLORAL PARK         367
86        FLUSHING MEADOW PARK           0
87              FLUSHING-NORTH        4540
88              FLUSHING-SOUTH         915
89                     FORDHAM         472
90                FOREST HILLS        1578
91                 FORT GREENE        1163
92                 FRESH KILLS           3
93               FRESH MEADOWS         139
94             GERRITSEN BEACH         114
95                   GLEN OAKS        3806
96                    GLENDALE         995
97                     GOWANUS         317
98                    GRAMERCY         310
99                  GRANT CITY         180
100                   GRASMERE         116
101                  GRAVESEND        1395
102                GREAT KILLS         943
103    GREAT KILLS-BAY TERRACE          99
104                 GREENPOINT        1017
105  GREENWICH VILLAGE-CENTRAL         879
106     GREENWICH VILLAGE-WEST        1345
107                GRYMES HILL          73
108                    HAMMELS         133
109             HARLEM-CENTRAL        7053
110                HARLEM-EAST        3017
111               HARLEM-UPPER         526
112                HARLEM-WEST         186
113  HIGHBRIDGE/MORRIS HEIGHTS        1451
114                  HILLCREST         115
115                     HOLLIS        1082
116               HOLLIS HILLS          45
117                 HOLLISWOOD         267
118               HOWARD BEACH         534
119                   HUGUENOT         177
120                HUNTS POINT         194
121                     INWOOD         859
122            JACKSON HEIGHTS        1953
123                    JAMAICA        2914
124                JAMAICA BAY          20
125            JAMAICA ESTATES         168
126              JAMAICA HILLS         154
127              JAVITS CENTER         111
128                 KENSINGTON         646
129                KEW GARDENS         300
130   KINGSBRIDGE HTS/UNIV HTS         742
131    KINGSBRIDGE/JEROME PARK         875
132                   KIPS BAY        3096
133                  LAURELTON         444
134               LITTLE ITALY         100
135                LITTLE NECK         199
136                 LIVINGSTON          97
137           LONG ISLAND CITY        1139
138            LOWER EAST SIDE         583
139                    MADISON         706
140            MANHATTAN BEACH         116
141           MANHATTAN VALLEY        1045
142              MANOR HEIGHTS         168
143                MARINE PARK         460
144            MARINERS HARBOR         334
145                    MASPETH         647
146          MELROSE/CONCOURSE        2245
147             MIDDLE VILLAGE         803
148              MIDLAND BEACH         332
149                MIDTOWN CBD         441
150               MIDTOWN EAST        1494
151               MIDTOWN WEST        2594
152                    MIDWOOD         628
153                 MILL BASIN         169
154        MORNINGSIDE HEIGHTS          23
155       MORRIS PARK/VAN NEST         527
156        MORRISANIA/LONGWOOD        1411
157     MOTT HAVEN/PORT MORRIS         673
158      MOUNT HOPE/MOUNT EDEN         963
159                MURRAY HILL         671
160                  NAVY YARD          73
161                   NEPONSIT          32
162               NEW BRIGHTON         391
163    NEW BRIGHTON-ST. GEORGE          36
164                   NEW DORP         226
165             NEW DORP-BEACH         118
166           NEW DORP-HEIGHTS         135
167            NEW SPRINGVILLE         985
168            OAKLAND GARDENS         483
169                    OAKWOOD          42
170              OAKWOOD-BEACH          75
171                 OCEAN HILL        1080
172        OCEAN PARKWAY-NORTH         870
173        OCEAN PARKWAY-SOUTH         599
174             OLD MILL BASIN         319
175                 OZONE PARK        1205
176                 PARK SLOPE        1222
177           PARK SLOPE SOUTH         367
178                PARKCHESTER         711
179                 PELHAM BAY           1
180             PELHAM GARDENS         120
181       PELHAM PARKWAY NORTH         236
182       PELHAM PARKWAY SOUTH         342
183            PLEASANT PLAINS          80
184                 PORT IVORY         191
185              PORT RICHMOND         369
186                PRINCES BAY         202
187           PROSPECT HEIGHTS         941
188             QUEENS VILLAGE         715
189                   RED HOOK         133
190                  REGO PARK        1818
191              RICHMOND HILL        1357
192               RICHMONDTOWN          87
193  RICHMONDTOWN-LIGHTHS HILL          13
194                  RIDGEWOOD        1317
195                  RIVERDALE        1005
196              ROCKAWAY PARK         403
197           ROOSEVELT ISLAND          66
198                   ROSEBANK         230
199                   ROSEDALE         632
200                  ROSSVILLE         226
201       ROSSVILLE-CHARLESTON          73
202       ROSSVILLE-PORT MOBIL           3
203  ROSSVILLE-RICHMOND VALLEY          18
204   SCHUYLERVILLE/PELHAM BAY         670
205                    SEAGATE         126
206             SHEEPSHEAD BAY        1828
207                SILVER LAKE          73
208   SO. JAMAICA-BAISLEY PARK        1135
209                       SOHO         512
210                  SOUNDVIEW        2114
211                SOUTH BEACH         304
212              SOUTH JAMAICA         782
213           SOUTH OZONE PARK         792
214                SOUTHBRIDGE        1732
215               SPRING CREEK          58
216        SPRINGFIELD GARDENS         763
217                 ST. ALBANS         814
218                  STAPLETON         194
219          STAPLETON-CLIFTON          73
220                  SUNNYSIDE         921
221                SUNSET PARK        2081
222                THROGS NECK         529
223                  TODT HILL          54
224              TOMPKINSVILLE          98
225                TOTTENVILLE         318
226                     TRAVIS         105
227                    TRIBECA         645
228    UPPER EAST SIDE (59-79)        3071
229    UPPER EAST SIDE (79-96)        2239
230   UPPER EAST SIDE (96-110)         300
231    UPPER WEST SIDE (59-79)        2082
232    UPPER WEST SIDE (79-96)        1457
233   UPPER WEST SIDE (96-116)        1389
234         VAN CORTLANDT PARK           0
235                  WAKEFIELD         496
236   WASHINGTON HEIGHTS LOWER        1410
237   WASHINGTON HEIGHTS UPPER         951
238          WEST NEW BRIGHTON         419
239                WESTCHESTER         371
240                WESTERLEIGH         351
241                 WHITESTONE         496
242             WILLIAMSBRIDGE        1116
243       WILLIAMSBURG-CENTRAL         455
244          WILLIAMSBURG-EAST         958
245         WILLIAMSBURG-NORTH        1097
246         WILLIAMSBURG-SOUTH         843
247                WILLOWBROOK         307
248            WINDSOR TERRACE         198
249                  WOODHAVEN         754
250                   WOODLAWN         184
251                    WOODROW         184
252                   WOODSIDE         807
253            WYCKOFF HEIGHTS         335